<!doctype html>
<html ng-app="upload">

<body ng-controller="uploadControler">
	<div>
		<label><b>Informe um nome de usuário:</b> <input type="text"
			ng-model="usuario" placeholder="Entre com um nome de usuario"></label>
		<p />
		<label><b>Escolha um arquivo para ser enviado para o
				servidor: </b><input type="file" ng-model="arquivo" file-model="arquivo" /></label>
		<p />
		<button ng-click="upload()">Enviar</button>
	</div>
	<label><b>Relatório de Upload</b></label>
	<div>
	    <table border=1>
			<tr>
				<td><b><center>Usuario</center></b></td>
				<td><b><center>Arquivo</center></b></td>
				<td><b><center>Tempo de Upload</center></b></td>
				<td><b><center>Status</center></b></td>
				<td><b><center>Link</center></b></td>
			</tr>
			<tr ng-repeat="arquivo in arquivos">
				<td>{{arquivo.identificadorUsuario}}</td>
				<td>{{arquivo.arquivo}}</td>
				<td>{{arquivo.tempoUpload}}</td>
				<td>{{arquivo.status}}</td>
				<td><a href='{{arquivo.link}}'>{{arquivo.link}}</a></td>
			</tr>
		</table>
	</div>
	<script src="angular/angular.min.js"></script>
    <script src="angular/controller/app.js"></script>
	<script src="angular/controller/uploadController.js"></script>
</body>
</html>